<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>

<body class="container">
  <%- include('../partials/header'); %>
  <main>
    <div class="jumbotron">
        <h1>Entendendo Node com EJS</h1>
        <p>Minha primeira página utilizando Node e EJS</p>
    </div>
  </main>
  <%- include('../partials/footer'); %>
</body>
</html>